/*
 * Variables
 */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top; }

/**
 * Tags
 */
html {
  height: 100%; }

body {
  height: 100%;
  font-family: 'PT Sans', sans-serif;
  background-color: #95bdbf; }

h1 {
  padding: 20px 0;
  border-bottom: 1px solid #ddd; }

h2 {
  font-size: 32px; }

input {
  width: 100%; }

/**
 * General design
 */
#wrapper {
  max-width: 1500px;
  margin: 0 auto; }

#game-wrapper {
  margin-right: 400px; }
  #game-wrapper h1 {
    text-align: center;
    border: 0;
    padding: 50px 0 25px;
    color: #cce2e0; }
  #game-wrapper #metamask {
    text-align: center;
    padding: 40px 20px;
    background: #ffc740;
    display: none; }
    #game-wrapper #metamask .text {
      font-size: 20px;
      font-weight: bold;
      margin-right: 20px;
      height: 40px;
      line-height: 40px; }
    #game-wrapper #metamask .download {
      width: 200px; }
  #game-wrapper #game #content canvas {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 0 !important; }
  #game-wrapper #social {
    background: #7fa1a3;
    padding: 20px;
    text-align: center; }
    #game-wrapper #social .fa-caring {
      font-size: 20px;
      font-weight: bold;
      margin-right: 20px;
      height: 40px;
      line-height: 40px; }
    #game-wrapper #social .fa {
      text-align: center;
      padding-top: 10px;
      height: 40px;
      width: 40px;
      font-size: 20px;
      text-decoration: none;
      border-radius: 5px;
      margin-right: 10px;
      color: white; }
      #game-wrapper #social .fa:hover {
        opacity: 0.7; }
      #game-wrapper #social .fa.fa-facebook {
        background: #3B5998; }
      #game-wrapper #social .fa.fa-twitter {
        background: #55ACEE; }
      #game-wrapper #social .fa.fa-linkedin {
        background: #007bb5; }
      #game-wrapper #social .fa.fa-instagram {
        background: #df6245; }
      #game-wrapper #social .fa.fa-reddit {
        background: #c1251b; }
  #game-wrapper #links {
    width: 100%;
    padding: 30px 15px;
    color: #222;
    text-align: left;
    font-size: 14px; }
    #game-wrapper #links a {
      color: #222;
      text-decoration: underline; }
  #game-wrapper #ethereum-images {
    text-align: center;
    border-top: 1px solid #7fa1a3;
    padding: 30px 0; }
    #game-wrapper #ethereum-images .logo {
      margin: 0 15px;
      height: 50px; }

#stream {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  min-width: 400px;
  height: 100%;
  background: #95bdbf; }
  #stream #stream-title {
    margin: 0 10px 10px;
    padding: 10px 10px 6px;
    border-bottom: 1px solid #000;
    font-size: 14px; }
    #stream #stream-title span {
      display: inline-block; }
      #stream #stream-title span:nth-child(1) {
        width: 132px; }
      #stream #stream-title span:nth-child(2) {
        width: 100px; }
  #stream #stream-content .stream-msg {
    width: 380px;
    padding: 10px;
    margin: 5px 10px;
    overflow: hidden;
    font-size: 14px;
    line-height: 26px;
    border-radius: 3px; }
    #stream #stream-content .stream-msg.result-true {
      background: #FADF03;
      box-shadow: 0 0 2px; }
    #stream #stream-content .stream-msg .eth-blockie {
      display: inline-block;
      height: 26px;
      width: 26px;
      border: 1px solid #444444;
      border-radius: 12px;
      margin-right: 10px; }
    #stream #stream-content .stream-msg .eth-address {
      display: inline-block;
      width: 100px; }
    #stream #stream-content .stream-msg .eth-msg {
      display: inline-block;
      width: 100px; }
    #stream #stream-content .stream-msg .eth-balancediff {
      display: inline-block;
      text-align: right;
      font-weight: bold; }

@media (max-width: 1000px) {
  #game-wrapper {
    margin-right: 0; }

  #stream {
    display: none; } }
@media (max-width: 580px) {
  #social {
    padding: 10px 20px 20px !important; }
    #social .fa-caring {
      display: block; }

  #ethereum-images {
    padding: 15px 0 !important; }
    #ethereum-images img {
      display: block;
      margin: 15px auto !important; } }

/*# sourceMappingURL=style.css.map */
