* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}

h1 {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

h2 {
  font-size: 32px;
}

input {
  width: 100%;
}

#Actions {
  padding: 30px 0;
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
}

.row {
  margin-bottom: 30px;
}

#wrapper {
  margin: auto;
  overflow: hidden;
}

#game {
  float: left;
}

#stream {
  float: right;
  padding: 5px;
  min-width: 200px;
  .stream-msg {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    overflow: hidden;
    &.result-true {
      background: #619816;
    }
    &.result-false {
      background: #c7753f;
    }
    .eth-blockie {
      display: block;
      float: left;
      height: 16px;
      width: 16px;
    }
    .eth-address {
      font-family: monospace;
      margin: 0 0 0 10px;
      font-size: 12px;
      line-height: 16px;
      display: inline-block;
      vertical-align: super;
    }
    .eth-balancediff {
      display: block;
      text-align: center;
    }
  }
}
